<div class="container">
  <mat-card>
    <mat-card-header>
      <!-- heading  -->
      <mat-card-title>
        Ushbu sahifadagi ko'rsatmalarni diqqat bilan o'qing!
      </mat-card-title>
      <mat-card-subtitle> Yana bir qadam qoldi </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-left:20px;">
      <!-- content  -->
      <h1>Testlar</h1>
      <p>Testdagi savollar asosan o'quvchining matematik qobiliyatini
        tekshirishga mo'ljallagan</p>

      <mat-divider></mat-divider>
      <br />
      <h1>Muhim Ko'rsatmalar</h1>
      <ul>
        <li>Bu test faqat amaliyot maqsadida.</li>
        <li>Testni o'z vaqtida topshirishingiz kerak.</li>
        <li>Testni istalgan vaqtda sinab ko'rishingiz mumkin.</li>
        <li>Noto'g'rilar uchun ball yo'q.</li>
      </ul>

      <mat-divider></mat-divider>
      <br />
      <h1>Testga Kirish</h1>
      <ul>
        <li>Testni boshlash uchun <b>Start Test</b> tugmasini bosing</li>
        <li><b>Start Test</b> tugmasini bosganingizdan test vaqti boshlanadi</li>
        <li><b>Submit Answer</b> tugmasini bosmasangiz javob qabul qilinmaydi</li>
        <li>Testni tugatish uchun <b>Submit Test</b> tugmasini bosing</li>
      </ul>
    </mat-card-content>
    <mat-card-actions style="text-align:center;">
      <!-- action  -->
      <button mat-raised-button color="primary" >Start Test</button>
    </mat-card-actions>
  </mat-card>
</div>
